Color System: #F9DBBD will serve as my background, #A53860 will be used for bigger text (headings), and #450920 will be used for smaller text (navigation, paragraph, footer).

body {
background-color: #F9DBBD !important; 
color: #450920;
margin: 10px;
}
h1 {
color: #A53860; 
font-size: 1.95rem; 
line-height: 1.55; 
letter-spacing: 0.02em; 
font-family: Verdana;
}
h2 {
color: #A53860; 
font-size: 1.56rem; 
line-height: 1.55; 
letter-spacing: 0.02em; 
font-family: Verdana;
}
h3 {
color: #A53860; 
font-size: 1.4rem; 
line-height: 1.6; 
letter-spacing: 0.025em; 
font-family: Verdana;
}
nav {
color: #450920; 
font-size: 0.95rem; 
line-height: 1.65; 
letter-spacing: 0.03em; 
font-family: Arial;
}
p {
font-size: 1rem; 
line-height: 1.6; 
letter-spacing: 0.03em; 
font-family: Arial;
}
li {
color: #450920; 
font-size: 1rem; 
line-height: 1.6; 
letter-spacing: 0.03em; 
font-family: Arial;
}
footer {
color: #450920; 
font-size: 15px; 
font-family: Arial;
}
img {
inline-size: 300px;
}
