@font-face {
  font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
h1{
font-family: 'Roboto-Regular', sans-serif;
font-size: 35px;
}
h2{
font-family: 'Roboto-Regular', sans-serif;
font-size: 35px;
}
h3{
font-family: 'Roboto-Regular', sans-serif;
font-size: 35px;
}
p{
font-family: Arial, sans-serif;
font-size: 15px;
line-height: 20px;
}
li{
font-family:  Arial, sans-serif;
font-size: 15px;
}
nav{
font-family:  Arial, sans-serif;
font-size: 25px;
}
footer{
font-family:  Arial, sans-serif;
font-size: 12px;
}
body{
margin: 10px;
}
img{
inline-size: 200px;
}
