h1{
font-family: roboto, verdana, arial;
font-size: 35px;
}
h2{
font-family: verdana, arial;
font-size: 30px;
}
h3{
font-family: verdana, arial;
font-size: 25px;
}
p{
font-family: "courier new";
font-size: 15px;
line-height: 20px;
}
href{
font-family: "courier new";
font-size: 15px;
}
li{
font-family: "courier new";
font-size: 15px;
}
nav{
font-family: "courier new";
font-size: 25px:
}
footer{
font-family: "courier new";
font-size: 12px;
}
body{
margin: 10px
}
img{
inline-size: 300px
}
